<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807428922822-0idkj0u1dbvj5ukgj8vnoc6k6elu9lal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807428922822-0idkj0u1dbvj5ukgj8vnoc6k6elu9lal</string>
	<key>API_KEY</key>
	<string>AIzaSyAUxc47a8AKZx-DkteM2BynBpoYgeW_hTc</string>
	<key>GCM_SENDER_ID</key>
	<string>807428922822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capstone.codingteacher</string>
	<key>PROJECT_ID</key>
	<string>capstone-coding-teacher</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-coding-teacher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807428922822:ios:e10e00fee13f270f1926c7</string>
	<key>DATABASE_URL</key>
	<string>https://capstone-coding-teacher-default-rtdb.firebaseio.com</string>
</dict>
</plist>